.Input__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    width: 200px;
}

.Input__label {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.Input__label label {
    font-weight: 900;
}
