.Explore {
    background-color: #F2F5FF;
    padding: 100px 0;
}

.Explore__content {
    max-width: 1600px;
    margin: auto;
}

.Explore__heading {
    text-align: center;
}

.Explore__heading p {
    color: #182244;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 700;
    width: 50%;
    margin: auto;
}

.Explore__heading h1 {
    font-size: 60px;
    font-weight: 700;
}

.Explore__description {
    color: #6e6e6e !important;
    font-size: 15px !important;
    font-weight: 400 !important;
}

.Explore__cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    width: 85%;
    max-width: 85%;
    margin: auto;
    margin-top: 50px !important;
}
