.Navbar {
    background-color: #1E2B54;
    position: fixed;
    width: 100vw;
    z-index: 100;
}

.Navbar__logo img {
    padding: 10px;
    margin-left: 10px;
    z-index: 100;
}

.Navbar__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
    margin: auto;
}

.Navbar__nav ul{
    display: flex;
    gap: 50px;
}

.Navbar__nav ul li {
    list-style: none;
}

.Navbar__nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.Navbar__nav ul li a:hover {
    color: #ffba5a;
}

.Navbar__reservationbtn button {
    background-color: #ffaa34;
    border-radius: none;
    padding: 16px 30px;
    border: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 10px;
}

.Navbar__reservationbtn button:hover {
    background-color: #ffba5a;
}

.Navbar__handburgermenu {
    display: none;
}

.Navbar__handburgermenu-nav {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #1E2B54;
    width: 30%;
    height: 100vh;
    padding: 50px;
}

.Navbar__handburgermenu-icon {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 40px;
}

.Navbar__handburgermenu-nav ul {
    list-style: none;
}

.Navbar__handburgermenu-nav ul li {
    text-align: center;
    font-size: 21px;
    line-height: 70px;
}

.Navbar__handburgermenu-nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .Navbar {
        background: rgba(0, 0, 0, 0.3);
    }

    .Navbar__handburgermenu {
        display: block;
        margin-right: 50px;
    }

    .Navbar__content {
        width: 90%;
    }

    .Navbar__logo {
        margin: 20px;
    }

    .Navbar__logo img {
        width: 100px;
        height: auto;
    }

    .Navbar__nav {
        display: none;
    }

    .Navbar__reservationbtn {
        display: none;
    }

}
