.Card {
    padding: 40px;
    background-color: white;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
}

.Card img {
    width: 80px;
}

.Card p {
    color: #6e6e6e;
    font-size: 14px;
}

.Card a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 400px) {
    .Card {
        width: 320px;
    }
}
